body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #0ab0f8;
    padding: 20px;
}

header h1 {
    display: inline;
    margin-right: 20px;
}

nav ul {
    display: inline;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    color: #0077cc;
}

main {
    padding: 20px;
}

h2 {
    color: #0077cc;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}
.school_safety_programmes::after{
    content: '';
    width: 0%;
    height: 4px;
    background: #1ccee2;
    display: block;
    margin: 0%;
    transition: 0.5s;
}
.school_safety_programmes:hover::after{
    width: 16%;
}
.awareness_programme::after{
    content: '';
    width: 0%;
    height: 4px;
    background: #1ccee2;
    display: block;
    margin: 0%;
    transition: 0.5s;
}
.awareness_programme:hover::after{
    width: 14%;
}